$lineColor: #aaa;
$spaceX: 1rem;
$spaceY: 2rem;



.people {
  display: flex;
  padding: 0 1rem;
}

.people > .box:before,
.people > .box:after {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 50%;
  background-color: $lineColor;
}

.people > .box:before {
  left: 0;
}

.people > .box:after {
  left: 50%;
}

.people > .box:first-of-type:before {
  width: 0;
}

.flex > .people > .box:first-of-type:before {
  width: 50%;
}

.people > .box:last-of-type:after {
  width: 0;
}

.peopleList {
  height: max-content;
  position: relative;
  padding: 0 $spaceX;
}

.peopleListInner {
  border: 1px solid $lineColor;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}

.flex > .peopleList {
  margin-top: $spaceY;
}

.flex > .peopleList:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(50% - 1px);
  height: $spaceY;
  width: 1px;
  background-color: $lineColor;
}

.flex > .peopleList:after {
  content: '';
  position: absolute;
  top: -$spaceY;
  left: calc(50% - 1px);
  height: 1px;
  width: calc(50% + 2rem); // $spaceX
  background-color: $lineColor;
}

.box {
  padding: 0 $spaceX;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.peopleListInner > .box {
  padding: 0;
}

.headPerson {
  margin: $spaceY auto;
  position: relative;
}

.headPerson:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(50% - 1px);
  height: $spaceY;
  width: 1px;
  background-color: $lineColor;
  pointer-events: none;
}

.headPerson:after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 1px);
  height: $spaceY;
  width: 1px;
  background-color: $lineColor;
  pointer-events: none;
}

.positionButtonBottom {
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}



/* Loadingsanimation */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: darkgray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
