$lineColor: #aaa;
$spaceX: 1rem;
$spaceY: 2rem;
$boxSpace: 1rem;
$borderRadius: 10px;
//$tagColor: #282828;
$tagColor: orange;
$white: #fff;
$toggleButton: #6B7280;



.baseGrid {
  display: grid;
  grid-template-columns: 1fr 350px;
}


.people {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.people > div:before,
.people > div:after {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 50%;
  background-color: $lineColor;
}

.people > div:before {
  left: 0;
}

.people > div:after {
  left: 50%;
}

.people > div:first-of-type:before {
  width: 0;
}

.flex > .people > div:first-of-type:before {
  width: 50%;
}

.people > div:last-of-type:after {
  width: 0;
}

.peopleList {
  height: max-content;
  position: relative;
  padding: 0 $spaceX;
}

.peopleList > div {
  border: 1px solid $lineColor;
  display: flex;
  flex-direction: column;
}

.flex > .peopleList {
  margin-top: $spaceY;
}

.flex > .peopleList:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(50% - 1px);
  height: $spaceY;
  width: 1px;
  background-color: $lineColor;
}

.flex > .peopleList:after {
  content: '';
  position: absolute;
  top: -$spaceY;
  left: calc(50% - 1px);
  height: 1px;
  width: calc(50% + 2rem); // $spaceX
  background-color: $lineColor;
}

.box {
  padding: 0 $spaceX;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.person,
.headPerson {
  padding: $boxSpace;
  background-color: #fff;
  width: fit-content;
  position: relative;
  margin: $spaceY auto;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: $borderRadius;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 100ms;
  user-select: none;
}

.person:hover,
.headPerson:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.peopleList > div > .box > div > .person {
  margin: $spaceX auto;
  width: 100%;
}
/*,
.peopleList > div > .box > div > .headPerson*/

.people > .box > div > .person:before,
.people > .box > div > .headPerson:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(50% - 1px);
  height: $spaceY;
  width: 1px;
  background-color: $lineColor;
  pointer-events: none;
}

.people > .box > div > .headPerson:after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 1px);
  height: $spaceY;
  width: 1px;
  background-color: $lineColor;
  pointer-events: none;
}

.name {
  margin-left: 1rem;
}

.imgBox{
  background-color: #f2f2f2;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.headPerson {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.department {
  text-transform: uppercase;
  color: $white;
  font-weight: 600;
  background-color: $tagColor;
  padding: 4px 10px;
  margin: 0 auto $boxSpace auto;
  border-radius: $borderRadius;
}

.positionButtonBottom {
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $toggleButton;
  color: $white;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 1rem;
  cursor: pointer;
  font-size: .8rem;
}

.settings {
  position:  absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  background-color: white;
  padding: 1rem;
  margin: 4rem;
  color: white;
  border-radius: 1rem;
  user-select: none;
}

.clipButton{
  position:  absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedUserBoxPosition {
  position: absolute;
  top: $spaceY;
  left: 0;
  min-width: 300px;
  z-index: 2;
  padding-right: 2rem;
}

.selectedUserBox {
  border-radius: $borderRadius;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  overflow: hidden;
  background-color: #fff;
}

.peopleList > div > .box > .relative > .selectedUserBoxPosition {
  top: calc(#{$spaceY} / 2);
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



/* Loadingsanimation */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: darkgray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
