<div [ngClass]="peopleWithoutChildren.length > 0 && peopleWithChildren.length > 0 ? 'flex' : ''">
  <div class='peopleList' *ngIf="peopleWithoutChildren.length > 0">
    <div [ngClass]="peopleWithoutChildren.length === 1 ? 'beforeElement' : 'flex flex-col gap-y-4 p-4 border border-gray-400'"> <!-- creates a css list if length is over 1 -->
      <div *ngFor='let child of peopleWithoutChildren' class='w-full'>
        <app-part-organization-chart-box [item]="child"></app-part-organization-chart-box>
      </div>
    </div>
  </div>

  <div class='people' *ngIf="peopleWithChildren.length > 0">
    <div *ngFor='let child of peopleWithChildren' class='relative px-4'>
      <div class='relative py-8 mx-auto max-w-max'>
        <div class="parentPerson">
          <app-part-organization-chart-box [item]="child"></app-part-organization-chart-box>
        </div>
        <div class='absolute left-1/2 bottom-[-0.75rem] z-10 translate-x-[-50%]' (click)='toggleChildren(child.id)'>
          <app-part-organization-chart-toggle-children-button-content [item]="child"></app-part-organization-chart-toggle-children-button-content>
        </div>
      </div>
      <ng-container *ngIf='child.displayChildren'>
        <app-part-organization-chart-child [orga]='child.children' [showName]='showName' [showTitle]="showTitle" [clipped]='clipped' [selectedUser]='selectedUser'></app-part-organization-chart-child>
      </ng-container>
    </div>
  </div>
</div>
