html, body {
  font-size: 12px;
  height: 100%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 500px) {
  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    pointer-events: none;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    pointer-events: none;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    &:hover {
      border-radius: 0;
      border-width: 0;
    }
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
    pointer-events: none;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
    pointer-events: none;
  }

  .overlay {
    overflow: overlay;
  }
}

.solidLine {
  height: 1px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e5e7eb;
}
