<div class="fixed z-30 top-12 left-12">
  <div class="rounded-xl overflow-hidden backdrop-blur" style="width: clamp(100%, calc(100vw - 6rem), 350px)">

    <div class="h-24 flex justify-between items-center px-8 duration-300" [ngClass]="displayMenu ? 'bg-gray-50/80' : 'bg-white/80'">
      <div class="text-xl">Settings</div>
      <div class="bg-gray-200 w-16 h-16 rounded-full" (click)="toggleMenu()">
        <div class="w-16 h-16 flex justify-center items-center cursor-pointer duration-300 text-gray-700 text-xl select-none" [ngClass]="displayMenu ? '' : 'rotate-[-180deg]'">
          <fa-icon [icon]="['fas', 'chevron-up']"></fa-icon>
        </div>
      </div>
    </div>

    <div class="bg-white/80 overflow-auto duration-300 overlay" [ngStyle]="{'height': displayMenu ? 'calc(100vh - 12rem)' : '0'}">
      <div class="p-8 flex flex-col gap-y-4">

        <!--        <div>-->
        <!--          <div class="text-green-700 uppercase text-sm mb-4">Suche</div>-->
        <!--          <div class="h-12 border"></div>-->
        <!--        </div>-->

        <!--        <div class="solidLine"></div>-->

        <div class="flex flex-col gap-y-4">
          <div class="text-gray-700 uppercase text-sm">View</div>

          <!--          <div *ngFor="let item of switchValues" class="flex justify-between">-->
          <!--            <div>{{item.text}}</div>-->
          <!--            <div>-->
          <!--              <app-part-switch [value]="item.value" (valueEvent)="setSwitchValueOf(item.id, $event)"></app-part-switch>-->
          <!--            </div>-->
          <!--          </div>-->

          <div class="flex justify-between items-center">
            <div class="flex items-center">
              <!--              <i class="fal fa-search text-xl mr-2"></i>-->
              <img src="../../../assets/icons/suche.svg" alt="Search Icon" class="opacity-80 w-6 mr-2">
              <div (click)="resetScaleMultiplier()" class="py-2 px-3 rounded-full" [ngClass]="scaleMultiplier === 100 ? 'cursor-default' : 'cursor-pointer bg-gray-200 hover:bg-gray-300 duration-100'" [title]="scaleMultiplier === 100 ? '' : 'Zurück setzen'">{{scaleMultiplier}}%
              </div>
            </div>
            <div class="flex gap-x-2">
              <div class="w-12 h-12 bg-gray-200 flex justify-center items-center rounded-full select-none text-xl hover:bg-gray-300 duration-100"
                   [ngClass]="scaleMultiplier === 10 ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer'"
                   (click)="setScaleMultiplier(false)">
                <!--                <i class="fal fa-minus"></i>-->
                <img src="../../../assets/icons/minus.svg" alt="Zooms content smaller" class="opacity-80 w-3">
              </div>
              <div class="w-12 h-12 bg-gray-200 flex justify-center items-center rounded-full select-none text-xl hover:bg-gray-300 duration-100"
                   [ngClass]="scaleMultiplier === 200 ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer'"
                   (click)="setScaleMultiplier(true)">
                <!--                <i class="fal fa-plus"></i>-->
                <img src="../../../assets/icons/plus.svg" alt="Zooms content bigger" class="opacity-80 w-3">
              </div>
            </div>
          </div>
        </div>

        <div class="solidLine"></div>

        <div *ngIf="clipped !== 'null'">
          <div class="text-green-700 uppercase text-sm">Angepinnt</div>
          <div class="mt-4 w-full">
            <div class="flex items-center justify-between gap-x-1">
              <div class="flex items-center gap-x-4">
                <div>
                  <div *ngIf="currentPinnedUser?.hasImage" class='imgBox'><img src='{{currentPinnedUser?.imageUrl}}'
                                                                               alt=''></div>
                  <div *ngIf="!currentPinnedUser?.hasImage"
                       class='bg-gray-100 w-16 h-16 rounded-full flex justify-center items-center text-2xl text-gray-600 font-medium uppercase'>{{currentPinnedUser?.firstAndLastLetter}}</div>
                </div>
                <div class="lineClamp">{{currentPinnedUser?.firstname}} {{currentPinnedUser?.lastname}}</div>
              </div>
              <div class="flex">
                <div class="w-8 h-8 rounded-xl flex justify-center items-center hover:bg-gray-100 cursor-pointer"
                     (click)="copyTextToClipboard(currentPinnedUser?.id)" title="Teilen">
                  <i class="fad fa-share"></i>
                </div>
                <div class="w-8 h-8 rounded-xl flex justify-center items-center hover:bg-gray-100 cursor-pointer"
                     (click)="removePinnedUser()" title="Nicht mehr anpinnen">
                  <i class="fal fa-times text-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
